{% extends "template.html" %}

{% block head %}
{% endblock %}

{% block content %}
Sorry, TreeLib didn't find the page you need! !

The 404 page is a must-have page for the website, which carries the heavy responsibility of user experience and SEO optimization. The 404 page usually returns a 404 error returned by the server if the user has accessed a page that does not exist or has been deleted on the website.

<h1>two benefits of setting 404 pages</h1>
<ul>
	<li>Guide users not to close the site and enhance the user experience.
	<li>Prevent dead links on your site.
</ul>

{%  endblock %}